*
!/run.sh
!/.gitignore
!/*.php
!/magento_dev_local.sql.gz
!/.magento.app.yaml
!/magento-vars-local.php
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/env.php.local
!/app/etc/env.php.sample.dev
!/app/etc/env.php.sample.stg
!/app/etc/env.php.sample.prod
!/app/etc/env.staging.php
!/app/etc/env-staging.php
!/app/etc/env.php.staging
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/patches
!/patches/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/elastic.php
!/pub/errors
!/pub/errors/local.xml
!/pub/errors/seb
!/pub/errors/seb/**
!/third-party
!/third-party/*/
!/third-party/**
.DS_Store
!robots.txt
!default.vcl
!/varnish
!/pub/WL-Facturacion.php
!/pub/WWL-Facturacion.php
!.env_example
